<div>
  <form action="/users/uploadphoto" enctype="multipart/form-data" method="POST"> 
   <label for="file-upload" class="button-5">Choose Photo</label>
    <input id="file-upload" type="file" name="myImage" accept="image/*" />
    <input id="file-submit" type="submit" value="Change Profile Picture"/ class="button-5">
  </form>
</div>